body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'THEHongChawangjanemo';
  font-weight: 300;
  src: url('./assets/fonts/THE_HongChawangjanemo.ttf') format('woff2'),
    url('./assets/fonts/THE_HongChawangjanemo.ttf') format('woff'),
    url('./assets/fonts/THE_HongChawangjanemo.ttf') format('truetype');
}

@font-face {
  font-family: 'TmoneyRoundWind';
  font-weight: 300;
  src: url('./assets/fonts/TmoneyRoundWindRegular.ttf') format('woff2'),
    url('./assets/fonts/TmoneyRoundWindRegular.ttf') format('woff'),
    url('./assets/fonts/TmoneyRoundWindRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'TmoneyRoundWind';
  font-weight: 700;
  src: url('./assets/fonts/TmoneyRoundWindExtraBold.ttf') format('woff2'),
    url('./assets/fonts/TmoneyRoundWindExtraBold.ttf') format('woff'),
    url('./assets/fonts/TmoneyRoundWindExtraBold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'TmoneyRoundWind', sans-serif;
  font-size: "2vh";
}